<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-4" id="entrenadorList">
    <div class="card" style="width: 100%;">
      <div class="card-header" id="entrenadorTitle">
        Entrenadores <button type="button" class="btn btn-warning"><i
            class="bi bi-plus-circle"></i></button>
      </div>
      <table class="table" border="1" id="entrenadorTable">
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col col-8" id="entrenadorDetails">

  </div>
</div>
