<app-encabezado></app-encabezado>
<h2>
  Crear Cliente
</h2>

<form [formGroup]="personaForm" (ngSubmit)="!personaForm.invalid && crearPersona(personaForm.value)" id="personaForm">
  <div class="container">
    <div class="row">
      <div class="col col-6">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Información Personal
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col6"> <!--Nombre-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="nombre">Nombre</label>
                  <input novalidate id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('nombre')!.hasError('required') &&
                      personaForm.get('nombre')!.touched
                    ">
                    Contenido requerido
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('nombre')!.hasError('minlength')">
                    El contenido es muy corto, debe tener al menos dos caracteres.
                  </div>
                </div>
              </div>
              <div class="col col6"><!--Apellido-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="apellido">Apellido</label>
                  <input novalidate id="apellido" class="form-control" formControlName="apellido"
                    placeholder="Apellido" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('nombre')!.hasError('required') &&
                      personaForm.get('nombre')!.touched
                    ">
                    Contenido requerido
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('nombre')!.hasError('minlength')">
                    El contenido es muy corto, debe tener al menos dos caracteres.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col6"><!--Edad-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="descripcion">Edad</label>
                  <input novalidate id="edad" type="number" class="form-control" formControlName="edad"
                    placeholder="Edad" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('edad')!.hasError('required') &&
                      personaForm.get('edad')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
              <div class="col col6"><!--Fecha de ingreso-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="ingreso">Fecha de ingreso</label>
                  <input novalidate type="date" id="ingreso" class="form-control" formControlName="ingreso"
                    placeholder="Fecha ingreso" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('ingreso')!.hasError('required') &&
                      personaForm.get('ingreso')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Tabla de Medidas
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col4"><!--Talla-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="talla">Talla en m</label>
                  <input novalidate id="talla" type="number" class="form-control" formControlName="talla"
                    placeholder="Talla" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('talla')!.hasError('required') &&
                      personaForm.get('talla')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
              <div class="col col4"> <!--Peso-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="peso">Peso en Kg</label>
                  <input novalidate id="peso" type="number" class="form-control" formControlName="peso"
                    placeholder="Peso" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('peso')!.hasError('required') &&
                      personaForm.get('peso')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
              <div class="col col4"><!--Brazo-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="brazo">Brazo en cm</label>
                  <input novalidate id="brazo" type="number" class="form-control" formControlName="brazo"
                    placeholder="Brazo" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('brazo')!.hasError('required') &&
                      personaForm.get('brazo')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col4"><!--Pecho-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="pecho">Pecho en cm</label>
                  <input novalidate id="pecho" type="number" class="form-control" formControlName="pecho"
                    placeholder="Pecho" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('pecho')!.hasError('required') &&
                      personaForm.get('pecho')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
              <div class="col col4"><!--Cintura-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="cintura">Cintura en cm</label>
                  <input novalidate id="cintura" type="number" class="form-control" formControlName="cintura"
                    placeholder="Cintura" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('cintura')!.hasError('required') &&
                      personaForm.get('cintura')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
              <div class="col col4"><!--Pierna-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="pierna">Pierna en cm</label>
                  <input novalidate id="pierna" type="number" class="form-control" formControlName="pierna"
                    placeholder="Pierna" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                      personaForm.get('pierna')!.hasError('required') &&
                      personaForm.get('pierna')!.touched
                    ">
                    Por favor diligencie este campo
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Datos de Acceso
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col4"><!--Usuario-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="nombre">Usuario</label>
                  <input novalidate id="usuario" class="form-control" formControlName="usuario" placeholder="Usuario" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                    personaForm.get('usuario')!.hasError('required') &&
                    personaForm.get('usuario')!.touched
                  ">
                    Contenido requerido
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('usuario')!.hasError('minlength')">
                    El contenido es muy corto, debe tener al menos dos caracteres.
                  </div>
                </div>
              </div>
              <div class="col col4"><!--Contrasena-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="nombre">Contraseña</label>
                  <input #contrasena type="password" id="contrasena" class="form-control" formControlName="contrasena"
                    placeholder="********" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                  personaForm.get('contrasena')!.hasError('required') &&
                  personaForm.get('contrasena')!.touched
                ">
                    Contenido requerido
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('contrasena')!.hasError('minlength') &&
                    personaForm.get('contrasena')!.touched">
                    El contenido es muy corto, debe tener al menos ocho caracteres.
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="personaForm.get('contrasena')!.hasError('pattern') &&
                  personaForm.get('contrasena')!.touched">
                    Las contraseñas deben tener: mínimo 8 caracteres, que tenga caracteres alfanuméricos y tenga al menos un carácter en mayúscula.
                  </div>
                </div>
              </div>
              <div class="col col4"><!--Confirmar Contrasena-->
                <div class="form-group mx-sm-3 mb-2">
                  <label for="nombre">Confirmar Contraseña</label>
                  <input #contrasena type="password" id="confirmar" class="form-control" formControlName="confirmar"
                    placeholder="********" />
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                personaForm.get('confirmar')!.hasError('required') &&
                personaForm.get('confirmar')!.touched
              ">
                    Contenido requerido
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('confirmar')!.hasError('minlength')">
                    El contenido es muy corto, debe tener al menos ocho caracteres.
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                    *ngIf="personaForm.get('contrasena')?.value !== personaForm.get('confirmar')?.value  &&
                    personaForm.get('confirmar')!.touched">
                    Las contraseñas no coinciden
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="personaForm.get('confirmar')!.hasError('pattern') &&
                  personaForm.get('confirmar')!.touched">
                    Las contrasenas deben tener: mínimo 8 caracteres, que tenga caracteres alfanuméricos y tenga al menos un carácter en mayúscula.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="buttons">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3"><button type="submit" class="btn btn-primary" [disabled]="!personaForm.valid">
          Crear Cliente
        </button></div>
      <div class="col-2"></div>
      <div class="col-3"><button type="button" class="btn btn-danger ml-3" (click)="cancelarPersona()">
          Cancelar
        </button></div>
      <div class="col-2"></div>
    </div>
  </div>
</form>
