<app-encabezado></app-encabezado>
<div class="row">
  <div class="col-md-12 col-md-offset-3">
    <!-- formGroup Información Personal -->
    <form [formGroup]="informacionPersonalForm" id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Información Personal</li>
        <li [ngClass]="step>=2 ? 'active' : 'inactive'">Información de Medidas</li>
        <li [ngClass]="step==3 ? 'active' : 'inactive'">Información de Acceso</li>
      </ul>
      <fieldset *ngIf="step == 1">
        <h2>Información Personal</h2>
        <!-- contenido del formulario -->
        <div class="card-body">
          <div class="row">
            <div class="col col6"> <!--Nombre-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="nombre" class="align-left">Nombre</label>
                <input novalidate id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionPersonalForm.get('nombre')!.hasError('required') &&
                    informacionPersonalForm.get('nombre')!.touched
                  ">
                  Contenido requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="informacionPersonalForm.get('nombre')!.hasError('minlength')">
                  El contenido es muy corto, debe tener al menos dos caracteres.
                </div>
              </div>
            </div>
            <div class="col col6"><!--Apellido-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="apellido" class="align-left">Apellido</label>
                <input novalidate id="apellido" class="form-control" formControlName="apellido"
                  placeholder="Apellido" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionPersonalForm.get('apellido')!.hasError('required') &&
                    informacionPersonalForm.get('apellido')!.touched
                  ">
                  Contenido requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="informacionPersonalForm.get('nombre')!.hasError('minlength')">
                  El contenido es muy corto, debe tener al menos dos caracteres.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col6"><!--Edad-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="descripcion" class="align-left">Edad</label>
                <input novalidate id="edad" type="number" class="form-control" formControlName="edad"
                  placeholder="Edad" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionPersonalForm.get('edad')!.hasError('required') &&
                    informacionPersonalForm.get('edad')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
            <div class="col col6"><!--Fecha de ingreso-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="ingreso" class="align-left">Fecha de ingreso</label>
                <input novalidate type="date" id="ingreso" class="form-control" formControlName="ingreso"
                  placeholder="Fecha ingreso" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionPersonalForm.get('ingreso')!.hasError('required') &&
                informacionPersonalForm.get('ingreso')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- botones -->
        <div class="row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button (click)="next()" class="btn btn-warning me-md-2" type="button"
              [disabled]="!informacionPersonalForm.valid">Siguiente</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- formGroup Información de Medidas -->
    <form [formGroup]="informacionMedidasForm" id="msform">
      <fieldset *ngIf="step == 2">
        <h2>Información de Medidas</h2>
        <!-- contenido del formulario -->
        <div class="card-body">
          <div class="row">
            <div class="col col4"><!--Talla-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="talla" class="align-left">Talla en m</label>
                <input novalidate id="talla" type="number" class="form-control" formControlName="talla"
                  placeholder="Talla" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('talla')!.hasError('required') &&
                informacionMedidasForm.get('talla')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
            <div class="col col4"> <!--Peso-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="peso" class="align-left">Peso en Kg</label>
                <input novalidate id="peso" type="number" class="form-control" formControlName="peso"
                  placeholder="Peso" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('peso')!.hasError('required') &&
                informacionMedidasForm.get('peso')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
            <div class="col col4"><!--Brazo-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="brazo" class="align-left">Brazo en cm</label>
                <input novalidate id="brazo" type="number" class="form-control" formControlName="brazo"
                  placeholder="Brazo" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('brazo')!.hasError('required') &&
                informacionMedidasForm.get('brazo')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col4"><!--Pecho-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="pecho" class="align-left">Pecho en cm</label>
                <input novalidate id="pecho" type="number" class="form-control" formControlName="pecho"
                  placeholder="Pecho" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('pecho')!.hasError('required') &&
                informacionMedidasForm.get('pecho')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
            <div class="col col4"><!--Cintura-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="cintura" class="align-left">Cintura en cm</label>
                <input novalidate id="cintura" type="number" class="form-control" formControlName="cintura"
                  placeholder="Cintura" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('cintura')!.hasError('required') &&
                informacionMedidasForm.get('cintura')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
            <div class="col col4"><!--Pierna-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="pierna" class="align-left">Pierna en cm</label>
                <input novalidate id="pierna" type="number" class="form-control" formControlName="pierna"
                  placeholder="Pierna" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionMedidasForm.get('pierna')!.hasError('required') &&
                informacionMedidasForm.get('pierna')!.touched
                  ">
                  Por favor diligencie este campo
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- botones -->
        <div class="row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button (click)="previous()" class="btn btn-secondary me-md-2" type="button">Anterior</button>
            <button (click)="next()" class="btn btn-warning me-md-2" type="button"
              [disabled]="!informacionMedidasForm.valid">Siguiente</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- Información de Acceso -->
    <form [formGroup]="informacionAccesoForm" id="msform">
      <fieldset *ngIf="step == 3">
        <h2>Información de Acceso</h2>
        <!-- contenido del formulario -->
        <div class="card-body">
          <div class="row">
            <div class="col col4"><!--Usuario-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="usuario" class="align-left">Usuario</label>
                <input novalidate id="usuario" class="form-control" formControlName="usuario" placeholder="Usuario" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionAccesoForm.get('usuario')!.hasError('required') &&
                informacionAccesoForm.get('usuario')!.touched
                ">
                  Contenido requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="informacionAccesoForm.get('usuario')!.hasError('minlength')">
                  El contenido es muy corto, debe tener al menos dos caracteres.
                </div>
              </div>
            </div>
            <div class="col col4"><!--Contrasena-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="contrasena" class="align-left">Contraseña</label>
                <input #contrasena type="password" id="contrasena" class="form-control" formControlName="contrasena"
                  placeholder="********" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionAccesoForm.get('contrasena')!.hasError('required') &&
                informacionAccesoForm.get('contrasena')!.touched
              ">
                  Contenido requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="informacionAccesoForm.get('contrasena')!.hasError('minlength') &&
                informacionAccesoForm.get('contrasena')!.touched">
                  El contenido es muy corto, debe tener al menos ocho caracteres.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="informacionAccesoForm.get('contrasena')!.hasError('pattern') &&
                informacionAccesoForm.get('contrasena')!.touched">
                  Las contraseñas deben tener: mínimo 8 caracteres, que tenga caracteres alfanuméricos y tenga al menos
                  un carácter en mayúscula.
                </div>
              </div>
            </div>
            <div class="col col4"><!--Confirmar Contrasena-->
              <div class="form-group mx-sm-3 mb-2">
                <label for="confirmar" class="align-left">Confirmar Contraseña</label>
                <input #contrasena type="password" id="confirmar" class="form-control" formControlName="confirmar"
                  placeholder="********" />
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="
                informacionAccesoForm.get('confirmar')!.hasError('required') &&
                informacionAccesoForm.get('confirmar')!.touched
            ">
                  Contenido requerido
                </div>
                <div class="alert alert-danger alert-dismissible fade show"
                  *ngIf="informacionAccesoForm.get('confirmar')!.hasError('minlength')">
                  El contenido es muy corto, debe tener al menos ocho caracteres.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="informacionAccesoForm.get('contrasena')?.value !== informacionAccesoForm.get('confirmar')?.value  &&
                informacionAccesoForm.get('confirmar')!.touched">
                  Las contraseñas no coinciden
                </div>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="informacionAccesoForm.get('confirmar')!.hasError('pattern') &&
                informacionAccesoForm.get('confirmar')!.touched">
                  Las contrasenas deben tener: mínimo 8 caracteres, que tenga caracteres alfanuméricos y tenga al menos
                  un carácter en mayúscula.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- botones -->
        <div class="row">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button (click)="previous()" class="btn btn-secondary me-md-2" type="button">Anterior</button>
            <button (click)="crearPersona()" class="btn btn-primary me-md-2" type="button"
              [disabled]="!informacionAccesoForm.valid">Crear Cliente</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
