<div class="row">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Datos de entrenamiento
          <button type="button" class="btn btn-warning" (click)="entrenamientoCrear()"><i class="bi bi-plus-circle"></i></button>
        </h5>
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th>Fecha</th>
              <th>Duración</th>
              <th>Repeticiones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entrenamiento of entrenamientos">
              <td>{{entrenamiento.ejercicio.nombre}}</td>
              <td>{{entrenamiento.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{entrenamiento.tiempo}}</td>
              <td>{{entrenamiento.repeticiones | number:'1.2-2'}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="entrenamientoEditar(entrenamiento.id)"><i class="bi bi-pencil"></i></button>&nbsp;
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="entrenamientoEliminar(entrenamiento.id)"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
