<div class="row" id="ejerciciosCard">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="row">
          <div class="col col-9">
            <h5 class="card-title" id="ejercicoTitle">Ejercicios</h5>
          </div>
          <div class="col col-3" style="display: flex; justify-content: flex-end"><button type="button"
              class="btn btn-warning" (click)="entrenamientoCrear()"><i class="bi bi-plus-circle"></i></button>
          </div>
        </div>
        <table class="table table-striped" border="1" id="ejercicioTable">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Fecha</th>
              <th>Duración</th>
              <th>Repeticiones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entrenamiento of entrenamientos">
              <td>{{entrenamiento.ejercicio.nombre}}</td>
              <td>{{entrenamiento.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{entrenamiento.tiempo}}</td>
              <td>{{entrenamiento.repeticiones | number:'1.2-2'}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="entrenamientoEditar(entrenamiento.id)"><i
                    class="bi bi-pencil"></i></button>&nbsp;
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="entrenamientoEliminar(entrenamiento.id)"><i
                    class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" id="rutinasCard">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="row">
          <div class="col col-9">
            <h5 class="card-title" id="rutinaTitle">Rutinas</h5>
          </div>
          <div class="col col-3" style="display: flex; justify-content: flex-end"><button type="button"
              class="btn btn-warning" (click)="entrenamientoRutinaCrear()"><i class="bi bi-plus-circle"></i></button>
          </div>
        </div>
        <table class="table table-striped" border="1" id="rutinaTable">
          <thead>
            <tr>
              <th>Ejercicios</th>
              <th>Fecha</th>
              <th>Duración Total</th>
              <th>Repeticiones Totales</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entrenamientoR of entrenamientosRutina">
              <td>{{entrenamientoR.entrenamientos.length}}</td>
              <td>{{entrenamientoR.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{entrenamientoR.tiempoTotal}}</td>
              <td>{{entrenamientoR.repeticionesTotales| number:'1.2-2'}}</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="bi bi-pencil"></i></button>&nbsp;
                &nbsp;
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
